doctype html
html
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title Newsletter markup generator
        meta(name="description", content="")
        meta(name="viewport", content="width=1200, initial-scale=0.5")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="icon", type="image/jpeg", href="/favicon.jpg" )
        script(src="/js/vendor/modernizr-2.6.2.min.js")

    body.unloaded

        #wrap

        #template-form.template
            #result
                #preview
                textarea#source

            form(method="POST")
                input(type="hidden", value="{base}/", name="base")
                input(type="hidden", name="id")
                input(type="hidden", name="cid")
                input(type="text", placeholder="Тема письма", name="theme")
                .articles.container
                    h3 Статьи
                .articles-add.add
                    button(type="button") Добавить статью
                .runs.container
                    h3 Маршруты
                .runs-add.add
                    button(type="button") Добавить маршрут
                .events.container
                    h3 События
                .events-add.add
                    button(type="button") Добавить событие

                .submit
                    input(type="submit", value="Сформировать")
                    input(type="button", value="Сохранить", id="save")
                    input(type="button", value="Создать рассылку", id="create-campaign")

        #template-article.template
            .item
                .field
                    input(type="text", placeholder="Название", name="articles[{num}][title]", value="{title}")
                .field
                    textarea( placeholder="Описание", name="articles[{num}][description]") {description}
                .field
                    input(type="text", placeholder="Ссылка", name="articles[{num}][link]", value="{link}")
                .field
                    input(type="text", placeholder="Дата (01 января)", name="articles[{num}][date]", value="{date}")
                .field
                    input(type="file", name="articles[{num}][file]")
                    input(type="hidden", name="articles[{num}][image]", value="{image}")

        #template-event.template
            .item
                .field
                    input(type="text", placeholder="Название", name="events[{num}][title]", value="{title}")
                .field
                    textarea( placeholder="Описание", name="events[{num}][description]") {description}
                .field
                    input(type="text", placeholder="Ссылка", name="events[{num}][link]", value="{link}")
                .field
                    input(type="text", placeholder="День", name="events[{num}][date][day]", value="{date.day}")
                    input(type="text", placeholder="Месяц", name="events[{num}][date][month]", value="{date.month}")

                .field
                        input(type="text", placeholder="Локация", name="events[{num}][place]", value="{place}")
                .field
                    input(type="file", name="events[{num}][file]")
                    input(type="hidden", name="events[{num}][image]", value="{image}")

        #template-run.template
            .item
                .field
                    input(type="text", placeholder="Название", name="runs[{num}][title]", value="{title}")
                .field
                    textarea( placeholder="Описание", name="runs[{num}][description]") {description}
                .field
                    input(type="text", placeholder="Ссылка", name="runs[{num}][link]", value="{link}")
                .field
                    input(type="text", placeholder="Локация", name="runs[{num}][place]", value="{place}")
                .field
                    input(type="file", name="runs[{num}][file]")
                    input(type="hidden", name="runs[{num}][image]", value="{image}")



        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script
            :js
                window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')
        script(src="/js/vendor/jquery.dom.form_params.min.js")
        script(src="/js/vendor/riot.min.js")
        script(src="/js/app.js")
        script(src="/js/main.js")