doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    body(style="font-family: arial, helvetica, sans-serif;background:#fff url(" +mediaRoot + "blue-ny.png) top left repeat-x")
        div(style="width:100%;overflow:auto;")
            div(style="margin:50px 70px 0;width:620px;background: #FFF;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);-o-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow: 0 0 10px rgba(0,0,0,0.5);")
                img(src=mediaRoot + "logo-ny.jpg")
                div(style="font-size:30px;text-align:left;margin:31px 33px 10px;font-weight:bold;") runner>
                div(style="font-size:17px;text-align:left;margin:0 54px 39px 32px") Представляем тебе самые актуальные статьи о беге, вышедшие на этой неделе на беговом портале www.adidas-running.ru
                table(border=0, style="border-collapse:collapse")

                    if articles
                        each article in articles

                            tr(valign="center", style="border-top:1px solid #e5e5e5")
                                td(width=311)
                                    a(style="text-decoration:none;overflow:hidden;display:block;color:#000;height:208px;", href=article.link)
                                        img(width="311", height="208", src=mediaRoot + article.image)
                                td(style="padding: 0 18px")
                                    a(style="text-decoration:none;overflow:hidden;display:block;color:#000;", href=article.link)
                                        div(style="color:#ffd400;font-weight:bold;font-size:20px;")= article.date
                                        h3(style="font-size:24px;line-height:26px;margin:0 0 7px")= article.title
                                        div(style="font-size:15px;line-height:18px")= article.description

                    if runs
                        each run in runs
                            tr(valign="center", style="border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5")
                                td(width=311)
                                    a(style="text-decoration:none;overflow:hidden;display:block;color:#000;height:208px;", href=run.link)
                                        img(width="311", height="208", src=mediaRoot + run.image)
                                td(style="padding: 0 18px;position:relative;")
                                    a(style="display:block;background:#d7e123;padding:8px 16px;text-decoration:none;position:absolute;top:0;left:0;font-weight:bold;color:#000;", href=run.link) маршрут
                                    a(style="text-decoration:none;overflow:hidden;display:block;color:#000;", href=run.link)
                                        h3(style="font-size:24px;line-height:26px;margin:0 0 7px;")= run.title

                                        div(style="font-weight:bold;font-size:15px;padding-bottom:5px;")
                                            img(src=mediaRoot + "pin.png", style="margin-bottom:-2px;")
                                            | &nbsp; #{run.place}

                                        div(style="font-size:15px;line-height:18px")= run.description

                    if events
                        each event in events
                            tr(valign="center", style="border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5")
                                td(width=311, height=208, style="background:#2b7cb4;")
                                    a(style="background:#2b7cb4;text-decoration:none;overflow:hidden;display:block;color:#FFF;text-align:center;", href=event.link)
                                        span(style="font-size:134px;line-height:110px;font-weight:bold;")= event.date.day
                                        br
                                        span(style="font-size:25px;font-weight:bold;")= event.date.month
                                td(style="padding: 0 18px;position:relative;")
                                    a(style="text-decoration:none;overflow:hidden;display:block;color:#000;", href=event.link)
                                        h3(style="font-size:24px;line-height:26px;margin:0 0 7px;")= event.title

                                        div(style="font-weight:bold;font-size:15px;padding-bottom:5px;")
                                            img(src=mediaRoot + event.image, style="margin-bottom:-2px;")
                                            | &nbsp; #{event.place}

                                        div(style="font-size:15px;line-height:18px")= event.description

                div(style="text-align:center;padding:32px 0 52px")
                    img(src=mediaRoot + "/raz.jpg", style="margin:35px 0 5px 0;")


            div(style="margin: 21px 81px 50px;width:600px;color:#9f9f9f;font-size: 12px;")
                div(style="float:left;") © ООО "Адидас". Все права защищены.&nbsp;
                    a( href="*|UNSUB|*", style="color:#fdc300 !important;") Отписаться

                div(style="float:right; padding:0px 7px")
                    a(href="http://vk.com/adidasrunning")
                        img(src="http://newsletter.adidas-running.ru/vk.png")
                    a(href="https://twitter.com/adidasRU", style="margin:14px")
                        img(src="http://newsletter.adidas-running.ru/tw.png")
                    a(href="https://www.facebook.com/adidasRunning")
                        img(src="http://newsletter.adidas-running.ru/fb.png")
        //
        //
        //center.
        //    <br>
        //    <br>
        //    <br>
        //    <br>
        //    <br>
        //    <br>
        //    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="canspamBarWrapper" style="background-color:#FFFFFF; border-top:1px solid #E5E5E5;">
        //        <tr>
        //            <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
        //                <table border="0" cellpadding="0" cellspacing="0" id="canspamBar">
        //                    <tr>
        //                        <td align="center" valign="top" style="color:#606060; font-family:Helvetica, Arial, sans-serif; font-size:11px; line-height:150%; padding-right:20px; padding-bottom:5px; padding-left:20px; text-align:center;">
        //                            This email was sent to <a href="mailto:*|EMAIL|*" target="_blank" style="color:#404040 !important;">*|EMAIL|*</a>
        //                            <br>
        //                            <a href="*|ABOUT_LIST|*" target="_blank" style="color:#404040 !important;"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*" style="color:#404040 !important;">update subscription preferences</a>
        //                            <br>
        //
        //                            <br>
        //                            <br>
        //
        //                        </td>
        //                    </tr>
        //                </table>
        //            </td>
        //        </tr>
        //    </table>
        //    <style type="text/css">
        //        @media only screen and (max-width: 480px){
        //            table[id="canspamBar"] td{font-size:14px !important;}
        //            table[id="canspamBar"] td a{display:block !important; margin-top:10px !important;}
        //        }
        //    </style>