body, html
  height 100%
  width 100%
  font-family helvetica, arial, sans-serif

.template
  display none!important


#wrap
  padding 15px

  form
    width 500px

  .item
    margin-bottom 10px
    padding-bottom 10px
    border-bottom 2px solid #ccc
    width 460px

  input, textarea, button
    width 450px
    margin 3px
  #result
    float right
    #preview
      height 800px
      width 700px
      overflow auto
      border 2px solid #ccc
